USE [master]
GO
/****** Object:  Database [DB11]    Script Date: 4/17/2019 11:33:47 PM ******/
CREATE DATABASE [DB11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB11', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB11.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB11_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB11_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB11]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[ClassID] [int] NULL,
	[CourseName] [varchar](50) NULL,
	[AttendanceDate] [datetime] NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Batch]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Batch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [varchar](50) NULL,
	[Session] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Class]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Class](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProgName] [varchar](50) NULL,
	[BatchID] [int] NULL,
	[Name] [varchar](50) NULL,
	[Capacity] [int] NULL,
	[Strength] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClassCourse_MTM]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClassCourse_MTM](
	[ClassID] [int] NOT NULL,
	[CourseName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ClassCourse] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC,
	[CourseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClassExam_MTM]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassExam_MTM](
	[ExamID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
 CONSTRAINT [PK_ClassExam] PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC,
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Course]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course](
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CourseResult_MTM]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CourseResult_MTM](
	[CourseName] [varchar](50) NOT NULL,
	[Result] [int] NOT NULL,
 CONSTRAINT [PK_CourseResult] PRIMARY KEY CLUSTERED 
(
	[CourseName] ASC,
	[Result] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Department]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Department](
	[Name] [varchar](50) NOT NULL,
	[InstituteName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [varchar](50) NULL,
	[PersonCNIC] [varchar](15) NULL,
	[ClassID] [int] NULL,
	[Designation] [varchar](50) NULL,
	[Salary] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmployeeClass_MTM]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeClass_MTM](
	[EmployeeID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
 CONSTRAINT [PK_EmpClass] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC,
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeCourse_MTM]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeCourse_MTM](
	[EmployeeID] [int] NOT NULL,
	[CourseName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EmpCourse] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC,
	[CourseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Exam](
	[Id] [int] NOT NULL,
	[CourseName] [varchar](50) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Institute]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Institute](
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](150) NULL,
	[Phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Person]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Person](
	[CNIC] [varchar](15) NOT NULL,
	[Name] [varchar](50) NULL,
	[FatherName] [varchar](50) NULL,
	[Address] [varchar](150) NULL,
	[Phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Program]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Program](
	[Name] [varchar](50) NOT NULL,
	[DeptName] [varchar](50) NULL,
	[FeeDate] [datetime] NULL,
	[ClassStartDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Result]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ObtainedMarks] [int] NULL,
	[TotalMarks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonCNIC] [varchar](15) NULL,
	[ClassID] [int] NULL,
	[RegNO] [varchar](50) NULL,
	[Fee] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StudentResult_MTM]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentResult_MTM](
	[StudentID] [int] NOT NULL,
	[ResultID] [int] NOT NULL,
 CONSTRAINT [PK_StuRes] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Timetable]    Script Date: 4/17/2019 11:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Timetable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [varchar](50) NULL,
	[ClassID] [int] NULL,
	[EmployeeID] [int] NULL,
	[Day] [varchar](10) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_ClassAtt] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_ClassAtt]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_CourseAtt] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Course] ([Name])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_CourseAtt]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_StudentAtt] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_StudentAtt]
GO
ALTER TABLE [dbo].[Batch]  WITH CHECK ADD  CONSTRAINT [FK_DeptBatch] FOREIGN KEY([DeptName])
REFERENCES [dbo].[Department] ([Name])
GO
ALTER TABLE [dbo].[Batch] CHECK CONSTRAINT [FK_DeptBatch]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_BatchClass] FOREIGN KEY([BatchID])
REFERENCES [dbo].[Batch] ([Id])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_BatchClass]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_ProgClass] FOREIGN KEY([ProgName])
REFERENCES [dbo].[Program] ([Name])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_ProgClass]
GO
ALTER TABLE [dbo].[ClassCourse_MTM]  WITH CHECK ADD  CONSTRAINT [FK_ClassClassCourse] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[ClassCourse_MTM] CHECK CONSTRAINT [FK_ClassClassCourse]
GO
ALTER TABLE [dbo].[ClassCourse_MTM]  WITH CHECK ADD  CONSTRAINT [FK_CourseClassCourse] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Course] ([Name])
GO
ALTER TABLE [dbo].[ClassCourse_MTM] CHECK CONSTRAINT [FK_CourseClassCourse]
GO
ALTER TABLE [dbo].[ClassExam_MTM]  WITH CHECK ADD  CONSTRAINT [FK_ClassClassExam] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[ClassExam_MTM] CHECK CONSTRAINT [FK_ClassClassExam]
GO
ALTER TABLE [dbo].[ClassExam_MTM]  WITH CHECK ADD  CONSTRAINT [FK_ExamClassExam] FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exam] ([Id])
GO
ALTER TABLE [dbo].[ClassExam_MTM] CHECK CONSTRAINT [FK_ExamClassExam]
GO
ALTER TABLE [dbo].[CourseResult_MTM]  WITH CHECK ADD  CONSTRAINT [FK_CourseCourseResult] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Course] ([Name])
GO
ALTER TABLE [dbo].[CourseResult_MTM] CHECK CONSTRAINT [FK_CourseCourseResult]
GO
ALTER TABLE [dbo].[CourseResult_MTM]  WITH CHECK ADD  CONSTRAINT [FK_ResultCourseResult] FOREIGN KEY([Result])
REFERENCES [dbo].[Result] ([Id])
GO
ALTER TABLE [dbo].[CourseResult_MTM] CHECK CONSTRAINT [FK_ResultCourseResult]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_InstDept] FOREIGN KEY([InstituteName])
REFERENCES [dbo].[Institute] ([Name])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_InstDept]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_ClassEmp] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_ClassEmp]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_DeptEmp] FOREIGN KEY([DeptName])
REFERENCES [dbo].[Department] ([Name])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_DeptEmp]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_PersonEmp] FOREIGN KEY([PersonCNIC])
REFERENCES [dbo].[Person] ([CNIC])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_PersonEmp]
GO
ALTER TABLE [dbo].[EmployeeClass_MTM]  WITH CHECK ADD  CONSTRAINT [FK_ClassECl] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[EmployeeClass_MTM] CHECK CONSTRAINT [FK_ClassECl]
GO
ALTER TABLE [dbo].[EmployeeClass_MTM]  WITH CHECK ADD  CONSTRAINT [FK_EmpECl] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EmployeeClass_MTM] CHECK CONSTRAINT [FK_EmpECl]
GO
ALTER TABLE [dbo].[EmployeeCourse_MTM]  WITH CHECK ADD  CONSTRAINT [FK_CourseECo] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Course] ([Name])
GO
ALTER TABLE [dbo].[EmployeeCourse_MTM] CHECK CONSTRAINT [FK_CourseECo]
GO
ALTER TABLE [dbo].[EmployeeCourse_MTM]  WITH CHECK ADD  CONSTRAINT [FK_EmpECo] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EmployeeCourse_MTM] CHECK CONSTRAINT [FK_EmpECo]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_CourseExam] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Course] ([Name])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_CourseExam]
GO
ALTER TABLE [dbo].[Program]  WITH CHECK ADD  CONSTRAINT [FK_DeptProg] FOREIGN KEY([DeptName])
REFERENCES [dbo].[Department] ([Name])
GO
ALTER TABLE [dbo].[Program] CHECK CONSTRAINT [FK_DeptProg]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_ClassStu] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_ClassStu]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_PersonStu] FOREIGN KEY([PersonCNIC])
REFERENCES [dbo].[Person] ([CNIC])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_PersonStu]
GO
ALTER TABLE [dbo].[StudentResult_MTM]  WITH CHECK ADD  CONSTRAINT [FK_ResStuRes] FOREIGN KEY([ResultID])
REFERENCES [dbo].[Result] ([Id])
GO
ALTER TABLE [dbo].[StudentResult_MTM] CHECK CONSTRAINT [FK_ResStuRes]
GO
ALTER TABLE [dbo].[StudentResult_MTM]  WITH CHECK ADD  CONSTRAINT [FK_StuStuRes] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[StudentResult_MTM] CHECK CONSTRAINT [FK_StuStuRes]
GO
ALTER TABLE [dbo].[Timetable]  WITH CHECK ADD  CONSTRAINT [FK_ClassTT] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[Timetable] CHECK CONSTRAINT [FK_ClassTT]
GO
ALTER TABLE [dbo].[Timetable]  WITH CHECK ADD  CONSTRAINT [FK_CourseTT] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Course] ([Name])
GO
ALTER TABLE [dbo].[Timetable] CHECK CONSTRAINT [FK_CourseTT]
GO
ALTER TABLE [dbo].[Timetable]  WITH CHECK ADD  CONSTRAINT [FK_EmpTT] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Timetable] CHECK CONSTRAINT [FK_EmpTT]
GO
USE [master]
GO
